{% include 'admin_header.html' %}
<section class="slideshow">   
                <div class="slick-custom">
                    <img src="/static/images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
<center>
	<form method="post">
		<table class="table table-striped">
			<tr>
				<th style="color: white;">Store Name</th>
				<td><input type="text" name="storename"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" name="submit" value="Add" class="btn btn-info"></td>
			</tr>
		</table>
	</form>
</center>
</div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
{% include 'footer.html' %}